.boxCard {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* align-content: flex-start; */
    width: 400px;
    height: 320px;
    /* border: 1px solid black; */

  }

  .imagemCard{
    margin: 0;
    padding: 0;
  }

  .textCard{
    width: 100%;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    box-sizing: border-box;
    padding: 15px;
  }
