.boxCard {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 320px;
  text-decoration: none;
  transition: 0.5s;
}

.imagemCard {  
  display: block;
  padding: 0;
  margin: 0;
}

.textCard {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding: 15px;
}

.boxCard:hover {
  transition: 0.5Ss;
  transform: translateY(-20px);
}

.modal{
  border: none;
  margin: 50px;
}

.buttonModal{
  font-size: 20px;
  background-color: transparent;
  color: white;
  position: absolute;
  right: 20px;
  top: 15px;
  font-weight: bold;
}
