.paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 600px; */
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 35px;
    padding: 60px;
}

p {
    color: gray;
    padding-top: 40px;
    font-size: 30px;
}

.frase {
    padding: 60px;
    width: 90%;
    font-weight: bold;
}