.containerService{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.containerCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #444442;
    color: white;
    height: 100%;
}

.leftContainerCard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: space-between;
    height: 100%;
    width: 70%;
    text-align: left;    
}

.rightContainerCard {
    height: 100%;
    width: 30%;
}

.leftContainerCard ul {
    padding: 30px 90px;
}

.leftContainerCard li{
    font-size: 20px;
    font-weight: normal;
    list-style-type: disc; 
    padding-bottom: 20px;
}

.rightContainerCard > .imagesRight{
    display: block;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.leftContainerCard > h1 {
    padding-top: 50px;
    font-size: 70px;
}

.leftContainerCard > h2 {
    padding-left: 50px;
    font-size: 30px;
}

.leftContainerCard > p {
    padding-left: 50px;
    font-size: 20px;
}

.botoes {
    font-size: 30px;
    color: black;
    padding-top: 20px;
}

.botoes ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.botoes ul li{
    list-style-type: none; 
}

.saibaMais{
    padding: 15px 30px 15px 30px;
    border: 2px solid black;
    border-radius: 50px;
    color: black;
    background-image: linear-gradient(to right, #ffe258, #ff994e);
    text-shadow: none;
    font-weight: bold;
}

.duvidasFrequentes {
    padding: 15px 30px 15px 30px;
    border: 2px solid black;
    border-radius: 50px;
    color: black;
    background-color: #00bf63;
    text-shadow: none;
    font-weight: bold;
}