.containerService{
    height: 100%;
    width: 100%;
}

.containerCard {
    display: flex;
    flex-direction: row;
    background-color: #444442;
    color: white;
    height: 100%;
    width: 100%;
}

.leftContainerCard {
    width: 65%;
    height: 100%;
    text-align: left;  
    padding-left: 60px;
}

.rightContainerCard {
    height: 100%;
    width: 35%;
}

.leftContainerCard ul {
    padding: 30px 90px;
}

.leftContainerCard li{
    font-size: 25px;
    font-weight: normal;
    list-style-type: disc; 
    /* padding-bottom: 20px; */
}

.imagesRight{
    height: 100%;
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

h1 {
    padding-top: 60px;
    font-size: 80px;
}

h2 {
    padding-top: 20px;
    font-size: 30px;
}

.leftContainerCard > p {
    padding: 20px;
    font-size: 20px;
}

.botoes {
    font-size: 30px;
    color: black;
    margin-top: 25px;
}

.botoes ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.botoes ul li{
    /* padding-top: 30px; */
    list-style-type: none; 
}

.saibaMais{
    padding: 15px 30px 15px 30px;
    border: 2px solid black;
    border-radius: 50px;
    color: black;
    background-image: linear-gradient(to right, #ffe258, #ff994e);
    text-shadow: none;
    font-weight: bold;
}

.duvidasFrequentes {
    padding: 15px 30px 15px 30px;
    border: 2px solid black;
    border-radius: 50px;
    color: black;
    background-color: #00bf63;
    text-shadow: none;
    font-weight: bold;
}