form {
    /* Apenas para centralizar o form na página */
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    vertical-align: center;
  }

  form div + div {
    margin-top: 1em;
  }

  label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 90px;
    text-align: right;
    padding-right: 10px;
  }

input,
textarea {
  width: 350px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
  }

.button {
    padding-left: 90px;
    font-size: 20px;
 }

button {
    margin-left: 0.5em;
}