.backgroundImg {
    height: 950px;
    width: 100%;
    background-image: url("../../assets/gardening.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.linkNav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
}

li {
    padding: 10px 100px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 4px #000000;
}

li a {
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

header a {
    text-decoration: none;
    text-shadow: 1px 1px 4px #000000;
    justify-content: left;
}

.nome {
    font-size: 100px;
    color: white;
    align-items: end;
}

header p {
    text-shadow: 1px 1px 4px #000000;
    width: 100%;
    color: white;
    font-weight: bold;
    justify-content: left;
    align-items: flex-end;
}

.logoName {
    position: relative;
    text-align: left;
    vertical-align: bottom;
    padding-left: 50px;
    /* border: 2px solid black; */
    position: absolute;
    bottom: 200px;
    left: 0;
}